## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,De-Kastri,RU,51.4667,140.7833,60.93,66,96,5.77,overcast clouds
1,1,Kruisfontein,ZA,-34.0033,24.7314,50.88,39,100,9.01,overcast clouds
2,2,Velsk,RU,61.0701,42.0983,55.49,76,10,6.44,clear sky
3,3,Bethel,US,41.3712,-73.4140,67.35,90,100,6.91,overcast clouds
4,4,Busselton,AU,-33.6500,115.3333,67.12,77,3,25.14,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
filtered_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Jati,PK,24.3539,68.2671,87.75,65,5,20.47,clear sky
8,8,Atuona,PF,-9.8000,-139.0333,78.08,69,0,19.35,clear sky
9,9,Butaritari,KI,3.0707,172.7902,82.71,74,19,13.85,few clouds
19,19,Kapaa,US,22.0752,-159.3190,82.38,81,100,17.27,light rain
21,21,Shache,CN,38.4167,77.2406,81.43,18,33,17.94,scattered clouds
27,27,Hilo,US,19.7297,-155.0900,80.33,71,100,8.05,overcast clouds
29,29,Iwakuni,JP,34.1500,132.1833,78.28,69,40,6.91,haze
34,34,Trincomalee,LK,8.5711,81.2335,81.39,74,100,15.32,overcast clouds
37,37,Acapulco,MX,16.8634,-99.8901,76.82,83,100,0.00,overcast clouds
40,40,Nanakuli,US,21.3906,-158.1547,81.77,61,40,10.36,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
filtered_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_df = filtered_df.dropna()
filtered_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Jati,PK,24.3539,68.2671,87.75,65,5,20.47,clear sky
8,8,Atuona,PF,-9.8000,-139.0333,78.08,69,0,19.35,clear sky
9,9,Butaritari,KI,3.0707,172.7902,82.71,74,19,13.85,few clouds
19,19,Kapaa,US,22.0752,-159.3190,82.38,81,100,17.27,light rain
21,21,Shache,CN,38.4167,77.2406,81.43,18,33,17.94,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Selenginsk,RU,52.0064,106.8647,77.41,48,76,6.06,broken clouds
669,669,Kieta,PG,-6.2167,155.6333,84.06,68,84,3.98,broken clouds
674,674,Tondano,ID,1.3038,124.9112,78.89,55,20,2.71,few clouds
675,675,Praya,CV,14.9215,-23.5087,75.74,73,75,11.50,broken clouds
677,677,Jasper,US,37.2001,-94.3502,83.01,77,0,5.75,clear sky

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Jati,PK,87.75,clear sky,24.3539,68.2671,
8,Atuona,PF,78.08,clear sky,-9.8000,-139.0333,
9,Butaritari,KI,82.71,few clouds,3.0707,172.7902,
19,Kapaa,US,82.38,light rain,22.0752,-159.3190,
21,Shache,CN,81.43,scattered clouds,38.4167,77.2406,
27,Hilo,US,80.33,overcast clouds,19.7297,-155.0900,
29,Iwakuni,JP,78.28,haze,34.1500,132.1833,
34,Trincomalee,LK,81.39,overcast clouds,8.5711,81.2335,
37,Acapulco,MX,76.82,overcast clouds,16.8634,-99.8901,
40,Nanakuli,US,81.77,scattered clouds,21.3906,-158.1547,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))